{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/auth_pages_css/resetPassword.css' %}">
    <title>Rest Password</title>
</head>
<body>
    <div class="resetPage">
        <header>
          <a href="{% url 'public:home' %}">
          <img src="{% static 'assets/assets/logo.png'%}" alt='company-logo'/>
          </a>
        </header>
        <!-- <h1>Reset Password</h1> -->
        <div class="form" style="text-align: center;">
            
            

            <div class="container activate-email-container">
                <div class="activate-email-wrapper">
                    <div class="row">
                        <div class="col-12 col-md-12 mx-auto">
                            {% if form %}
                            <form class="login-form p-4 rounded" method="post">
                                {% csrf_token %}
                                <h1 class="h4 mb-2 font-weight-bold">Change your password</h1>
                                <p>Use the form below to change your password.</p>
            
                                {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    Error: Please try again!
                                    <p style="text-align: left;">Your password can’t be too similar to your other personal
                                        information.</li>
                                    <p style="text-align: left;">Your password must contain at least 8 characters.</p>
                                    <p style="text-align: left;">Your password can’t be a commonly used password.</p>
                                    <p style="text-align: left;">Your password can’t be entirely numeric.</p>
                                </div>
                                {% endif %}
            
                                <div class="mb-3">
                                    <p for="exampleInputPassword1" class="form-label password-label">New Password</p>
                                    <input name="new_password1" type="password" class="form-control" id="new_password1">
                                    <div class="p-2" style="text-align: left;">
                                        <!-- An element to toggle between password visibility -->
                                    <!-- <input type="checkbox" onclick="showBothPasswords()"><span class="px-2" style="font-size: 12px; font-weight: 500;">Show Password</span> -->
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <p for="exampleInputPassword1" class="form-label password-label">Repeat Password</p>
                                    <input name="new_password2" type="password" class="form-control" id="new_password2">
                                </div>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </form>
                            <p class="small text-center pt-1">
                                <a href="{% url 'accounts:login' %}">Already have an account? <span style="color: blue; font-weight: 600">Login</span></a>
                            </p>
                            <p class="small text-center">
                                <!-- <a href="#">Help Center?</a> -->
                            </p>
                        </div>
                    </div>
                </div>
            
            
            </div>
            
            
            {% else %}
            <div class="container successful-password-wrapper">
                {% if 'complete' in request.get_full_path %}
                <h4 style="margin-top: 50px;">Your Password has been updated successfully, you can now
                    <a href="{% url 'accounts:login' %}"><span style="color: blue; font-weight: 600;">Login</span></a>
                </h4>
            </div>
            {% else %}
            <h1>Expired Link</h1>
            <div class="d-flex flex-column mt-4">
                <a class="m-auto" href="{% url 'accounts:pwdreset' %}">Reset password</a>
            </div>
            {% endif %}
            {% endif %}



        </div>
      </div>
    
</body>
</html>