{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/auth_pages_css/resetPassword.css' %}">
    <title>Rest Password</title>
</head>
<body>
    <div class="resetPage">
        <header>
          <a href="{% url 'public:home' %}">
          <img src="{% static 'assets/assets/logo.png'%}" alt='company-logo'/>
          </a>
        </header>
        <h1>Reset Password</h1>
        <form method="post"
          class="form"
       >{% csrf_token %}
          <label for='reset-email'>Email</label>
          <input
          name="email" type="email"
            id='reset-email'
            required />
          <div class="error" class="form-text">
            {{form.errors.email}}
        </div>
          <button type='submit'>Send Reset Email</button>
        </form>
      </div>
    
</body>
</html>