{% extends 'base-dashboard-new.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}

<style>
    .error {
        color: red;
    }
</style>

<div class="main_content_iner overly_inner ">
  <div class="container-fluid p-0 ">

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="container" style="color: black">
    <div class="row edit-account-form-wrapper">
      <div class="col-lg-6">
        <h2>Update Account</h2>
      <form method="post">{% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Old Password</label>
          {{ form.old_password|add_required_class:"is-required form-control" }}
          <div id="emailHelp" class="form-text error">{{form.errors.old_password}}</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">New Password</label>
          {{ form.new_password1|add_required_class:"is-required form-control" }}
          <div id="emailHelp" class="form-text error">{{form.errors.new_password1}}</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
          {{ form.new_password2|add_required_class:"is-required form-control" }}
          <div id="emailHelp" class="form-text error">{{form.errors.new_password2}}</div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}